html {
  margin: 0em;
  line-height: 1.45;
  background-color: #2F8DB5;
  color: white;
  // height: 100%;
  // width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  // height: 100%;
  // align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  // margin: 0 auto;
}

main {
  margin-top: auto;
}
